<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <global-method-security pre-post-annotations="enabled">

    </global-method-security>

    <http use-expressions="true">
    	<!-- very secure: administrator(s) only -->
        <intercept-url pattern="/secure/extreme/**" access="hasRole('ROLE_SUPERVISOR')"/>
        
        <!-- secure: authentication required -->
        <intercept-url pattern="/secure/**" access="isAuthenticated()"/>                 
        <intercept-url pattern="/index.zul" access="isAuthenticated()"/>
        
        <!-- optional: these are opaque to client -->
    	<intercept-url pattern="/zkau/*" access="permitAll()"/>      
    	
    	<!-- everything else: open to public -->
        <intercept-url pattern="/**" access="permitAll()"/>
        
        <form-login login-page="/oldlogin.jsp" 
        			default-target-url="/index.zul" 
        			always-use-default-target="true" 
        			authentication-failure-url="/oldlogin.jsp?login_error=1"/>
        <logout logout-success-url="/oldlogin.jsp?logout=1"/>
        <remember-me />

        <session-management>
            <concurrency-control max-sessions="1"/>
        </session-management>
		
		<access-denied-handler error-page="/oldlogin.jsp"/>
    </http>
    
    <authentication-manager>
        <authentication-provider ref="daoAuthenticationProvider">
        </authentication-provider>
    </authentication-manager>

	<beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailsService"/>
	</beans:bean>

	<beans:bean id="userDetailsService" class="ciknowmgr.security.ColfaxUserDetailsService">
		<beans:property name="userDao" ref="userDao"/>
	</beans:bean>    

</beans:beans>
