<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"     
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- remove default-autowire="byName" from <beans> tag because it caused problem for Quartz Scheduler -->
	
    <!---															-->
	<!--- 					GENERAL BEANS    						-->
	<!---                                                           -->  	
	<bean id="managerUtil" class="ciknowmgr.util.ManagerUtil">
		<property name="projectDao" ref="projectDao"/>
		<property name="userDao" ref="userDao"/>
	</bean>	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">

	</bean>

	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<value>
			resource.loader=class
			class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
			</value>
		</property>
	</bean>	

</beans>
