<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"     
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- remove default-autowire="byName" from <beans> tag because it caused problem for Quartz Scheduler -->

    <!---															-->
	<!--- 					DATASOURCE	       						-->
	<!---															-->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
        	<ref local="dataSource"/>
        </property>
        
        <property name="mappingLocations">
        	<value>classpath:ciknowmgr/domain/*.hbm.xml</value>
        </property>
        
        <property name="hibernateProperties">
        	<props>
        		<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
        		<prop key="hibernate.bytecode.use_reflection_optimizer">false</prop>
        		<prop key="hibernate.current_session_context_class">thread</prop>
        		<prop key="hibernate.show_sql">false</prop>
        		<prop key="hibernate.format_sql">false</prop>
        		<prop key="hibernate.generate_statistics">false</prop>
        		<prop key="hibernate.max_fetch_depth">2</prop>
        		<prop key="hibernate.default_batch_fetch_size">8</prop>
        		<prop key="hibernate.connection.isolation">2</prop>
        		<prop key="hibernate.hbm2ddl.auto">update</prop>
        	</props>
        </property>
    </bean>

	<!-- see c3p0 documentation: http://www.mchange.com/projects/c3p0/index.html -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
    	<property name="driverClass" value="com.mysql.jdbc.Driver" />
    	<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1/test_ciknowmgr?useEncoding=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true" />
    	<property name="user" value="ciknowmgr" />
    	<property name="password" value="ciknowmgr" />
    	
    	<property name="initialPoolSize" value="2"/>
    	<property name="minPoolSize" value="1"/>
    	<property name="maxPoolSize" value="5"/>    	
    	<property name="acquireIncrement" value="2"/>
    	<property name="maxIdleTime" value="25200"/>
    	<property name="idleConnectionTestPeriod" value="14400"/>
    	<property name="preferredTestQuery" value="SELECT 1;"/>
    	<property name="maxStatements" value="0"/>
    	<property name="numHelperThreads" value="3"/>
    	<property name="maxAdministrativeTaskTime" value="0"/> 
    </bean>
    
</beans>
